* {
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  display: inline;
  transition: 1s;
}

h2::before {
  content: "✨";
  color: #83b5aa;
  /* margin-right: 2px; */
  /* position: absolute; */
}

header {
  box-shadow: 0 5px 10px gray;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f7f1e4;
  padding: 10px;
  margin-bottom: 20px;
}

.headerElement {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  width: 80%;
  margin: auto;
}

.title {
  position: relative;
  letter-spacing: 1.5px;
  left: 2%;

  display: inline-block;
}

.selector {
  height: 40px;
  width: 40px;
  /* border: 1px solid gray; */
  border-radius: 4px;
  background-color: #ea7756;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.954);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.selector:active {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.191);
}

code {
  margin-left: 5px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }

  .title {
    letter-spacing: 0;
    left: 0;
  }

  .selector {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }
}
