* {
  /* border: 1px solid #000; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "微軟正黑體", serif; */
}

:root {
  /*2024.07.25以前色調
  --mainColor: #324939;
  --lightMainColor: #6e8c77;
  --superlightMainColor: #edefe4;
  --contrastColor: #ea7756;
  */

  --mainColor: #6db5ca;
  --lightMainColor: #b8d8e0;
  --superlightMainColor: #fcf5ef;
  --contrastColor: #ff7235;
  --lightMainTextColor: #333;
}

/* 整個滾輪 */
::-webkit-scrollbar {
  width: 12px;
  /* 寬度 */
  height: 12px;
  /* 高度 */
}

/* 滾動槽 */
::-webkit-scrollbar-track {
  background: var(--lightMainColor);
  /* 背景顏色 */
  border-radius: 10px;
  /* 圓角 */
}

/* 滾動條 */
::-webkit-scrollbar-thumb {
  background: #FFBF6B;
  /* 背景顏色 */
  border-radius: 10px;
  /* 圓角 */
}

/* 滾動條懸停效果 */
::-webkit-scrollbar-thumb:hover {
  background: var(--contrastColor);
  /* 背景顏色 */
}




body,
html {
  margin: 0;
  /* overflow: hidden; */
}

body {
  /* transition: 1s; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
  transition: 1s;
}

p {
  font-family: "LXGW WenKai Mono TC", "Noto Sans TC", serif;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: justify;
  text-wrap: wrap;
  color: rgb(19, 19, 19);
  line-height: 1.8rem;
  font-size: 1.1rem;
}

mark {
  display: inline-block;
  padding: 5px 15px;
  background-color: #f7c633;
  margin-bottom: 0.5rem;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 10px;
  user-select: none;

}

mark:hover {
  animation: heartbeat 0.5s infinite;
}

@keyframes heartbeat {
  0% {
    scale: 1;
  }

  25% {
    scale: 1.01;
    rotate: -2deg;
  }

  75% {
    scale: 1.01;
    rotate: 2deg;
  }

  100% {
    scale: 1;
  }
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

b {
  display: block;
  color: #005597;
  margin: 10px 0;
  font-size: 1.1rem;
}

img {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px #e1e1e1;
  transition: 0.5s;
  margin: 10px 0;

  &:hover {
    /* scale: 1.2; */
  }
}

main h1 {
  font-weight: 900;
  font-size: 2.2rem;
  color: #222;
  position: relative;
  left: 15px;
  font-weight: 900;
  text-align: center;
}

main h1::before {
  content: "";
  display: inline-block;
  position: relative;
  background-color: var(--contrastColor);
  width: 16px;
  height: 2rem;
  line-height: 2rem;
  /* left: -25px; */
  top: 3px;
  margin-right: 10px;
}

h2 {
  margin-top: 35px;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 1.6rem;
  transition: 0.3s;
}

main h2 {
  border-top: 2px solid #eee;
  word-break: break-word;

}

h2::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #f63737;
}

h2::after {
  content: "#";
  transition: 0.4s;
  color: var(--lightMainColor);
  position: relative;
  left: 10px;
  opacity: 0;
}

h2:hover::after {
  opacity: 1;
}


h3 {
  margin-top: 20px;
  margin: 20px 10px 0 0;
  color: var(--lightMainTextColor);
  background-color: var(--lightMainColor);
  padding: 7px 15px;
  display: inline-block;
  font-weight: 900;


}

.point {
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 5px;
}

.point:hover {
  font-weight: 800;
  color: var(--contrastColor);
}

.point:active {
  scale: 0.97;
}

header {
  /* box-shadow: 0 2px 3px #555; */
  position: sticky;
  top: 0;
  z-index: 20;
  /* background-color: #f7f1e4; */
  color: white;
  background-color: var(--mainColor);
  padding: 8px;
  margin-bottom: 20px;
}

header * {
  /* border: 1px solid #000; */
}

header .headerElement {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 80%;
  max-width: 960px;
  margin: auto;
  /* transition: 0.5s; */
  position: relative;
  z-index: 2;
}

main i {
  font-size: 100px;
  margin-top: 20px;
  color: var(--mainColor);
}

.navButton {
  background-color: var(--mainColor);
  color: var(--superlightMainColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 10px;
  top: 70px;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;

  &:active {
    scale: 0.9;
    transition: 0s;
  }

  &.invisible {
    opacity: 0;
  }

  &.disappear {
    display: none;
  }
}

.subToc {
  position: fixed;
  opacity: 0.05;
  width: 300px;
  top: 50%;
  translate: 0 -50%;
  left: -285px;
  background-color: var(--lightMainColor);
  z-index: 5;

  box-shadow: 3px 0 10px #777;
  padding: 20px;
  border-radius: 0 1.3rem 1.3rem 0;
  transition: 0.5s;

  overflow-y: auto;
  height: 80vh;

  /* &:hover {
    transition: 0.3s;
    opacity: 1;
    left: -3px;
  } */

  &.open {
    transition: 0.3s;
    opacity: 1;
    left: -3px;
  }

  h4 {
    color: var(--lightMainTextColor);
    font-size: 1.5rem;
    margin: 0 0 1.4rem 0;
  }
}

.subToc-ul {
  list-style: none;
  margin: 0;
  padding: 0;


  a,
  a:link {
    text-decoration: none;
    color: var(--lightMainTextColor);
    font-size: 1rem;
    font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
  }

  li {
    margin-bottom: 1.2rem;
    padding: 0.4rem 0 0.4rem 0.8rem;
    border-left: 3px solid white;
    user-select: none;
    font-weight: 600;

    &:hover {
      font-weight: 800;
      background-color: var(--mainColor);
    }
  }

}

.title {
  position: relative;
  letter-spacing: 1px;
  left: 2%;
  font-weight: 900;

  display: inline-block;
}

.selector {
  height: 45px;
  width: 45px;
  margin-right: 15px;
  border-radius: 4px;
  background-color: var(--contrastColor);
  /* box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.954); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.selector:active {
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.191);
  transform: scale(0.9);
  transition: 0s;
  filter: brightness(0.9);
}

code {
  /* margin-left: 10px; */
  padding: 25px 0 25px 25px !important;
  letter-spacing: 3px;
  line-height: 1.7rem;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  /* box-shadow: 0 0 5px #aaa; */
}

nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 3;
  top: 0;
  right: left;
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.5s;
  opacity: 0;

}

.nav-open {
  user-select: auto;
  display: block;
  opacity: 1;
}

.navbar {
  background-color: var(--superlightMainColor);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  transition: 0.3s;
  z-index: 5;
  box-shadow: -5px 0 20px 2px rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  padding: 30px 20px 0 20px;
  opacity: 0;
  white-space: nowrap;
  border-left: 20px solid var(--lightMainColor);
}

.navbar-open {
  width: 450px;
  opacity: 1;
  transition: 0.5s;
}

.navbar ul {
  list-style: none;
  padding-right: 20px;

}

.navbar li {
  margin-bottom: 15px;
  font-family: 微軟正黑體;
  font-weight: 800;
  font-size: 1.2rem;
  padding-left: 10px;
  border-left: 5px solid var(--contrastColor);
}

.fade {
  background-color: rgba(0, 0, 0, 0.3);
}



.yellow {
  font-family: "LXGW WenKai Mono TC", "Noto Sans TC", serif;
  background-color: #f7f2c7;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px 20px 10px;
  box-shadow: 2px 2px 5px #bbb;
  margin: 30px 0;
  outline: 5px solid rgba(255, 0, 0, 0.5);
  transition: 0.3s;

  &:hover::before {
    animation: heartbeat 0.3s infinite;
  }
}

.yellow::before {
  content: "💡";
  color: red;
  font-size: 2.5rem;
  font-weight: 900;
  position: absolute;
  /* rotate: -20deg; */
  translate: -10px -35px;
  /* animation: heartbeat 0.5s infinite; */

}

.yellow:hover {
  outline: 3px solid rgba(255, 0, 0, 0);
  outline-offset: 10px;
}

.yellow:active {
  scale: 0.99;
  transition: 0s;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }

  .title {
    letter-spacing: 0;
    left: 0;
  }

  .navbar-open {
    width: 80%;
  }

  .selector {
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
    margin-right: 5px;
  }

  main {
    width: 93%;
  }

  code {
    font-size: 13px;
    border-radius: 8px;
  }

  .subToc {
    width: 80vw;
    left: -75vw;
  }

}